<ion-header>
  <ion-navbar color="primary">
    <ion-title>Inicio de sesión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="form-content">
  <form [formGroup]="myForm" (ngSubmit)="loginUser()" class="form-login">
    <ion-list class="form-login">
      <ion-item color="primary">
        <ion-label color="light">Correo</ion-label>
        <ion-input formControlName="email" type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-label color="light">Contraseña</ion-label>
        <ion-input formControlName="password" type="password" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <div text-center>
      <button color="light" ion-button round type="submit" [disabled]="!myForm.valid">Ingresar</button>
    </div>
  </form>
  <div text-center>
    <button color="light" ion-button round (click)="goToCreateAccount()">
      Nueva cuenta
    </button>
  </div>
</ion-content>