<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Mensajes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">

  <ion-list>
    <ion-item color="dark" text-wrap *ngFor="let msg of messages | async">
      <p item-right>{{ msg.date }}</p>
      <button color="light" *ngIf="msg.uid == uid" (click)="deleteMessage(msg.id)" ion-button outline item-end icon-only>
        <ion-icon color="light" name="close"></ion-icon>
      </button>
      <p>{{ msg.author }}</p>
      <h3>{{ msg.message }}</h3>
      <img width="150" height="150" [src]="domSanitizer.bypassSecurityTrustUrl(msg.image)" *ngIf="msg.image != ''"/>
    </ion-item>
    
  </ion-list>

</ion-content>

<ion-footer no-shadow no-border>
  <ion-toolbar color="primary" position="bottom">
    <ion-item color="primary" no-lines>
      <button color="light" ion-button outline item-end icon-only (click)="takePic()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button color="light" ion-button outline item-end icon-only (click)="takeGalleryPic()">
      <ion-icon name="image"></ion-icon>
    </button>
      <ion-input [(ngModel)]="newMessage" type="text" placeholder="Escribe aquí"></ion-input>
      <button color="light" ion-button outline item-end icon-only (click)="send(0)" [disabled]="!newMessage">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>

  </ion-toolbar>
</ion-footer>