<ion-header>
  <ion-navbar color="primary">
    <ion-title>Inicio de sesión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content color="primary" class="form-content">
  <form [formGroup]="myForm" (ngSubmit)="goToHomePage()" class="form-login">
    <ion-list class="form-login">
      <ion-item color="primary" >
          <ion-label color="light">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario" formControlName="usuario" type="text" placeholder="Nombre de usuario"></ion-input>
      </ion-item>
    </ion-list>
    <div text-center>
      <button color="light" ion-button round type="submit" [disabled]="!myForm.valid">Aceptar</button>
    </div>
  </form>
</ion-content>