<ion-header>
  <ion-navbar color="primary">
    <ion-title>Crear Cuenta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="form-content">
  <form [formGroup]="myForm" (ngSubmit)="createUser()" class="form-login">
    <ion-list class="form-login" no-lines>
      <ion-item color="primary" >
        <ion-input formControlName="email" type="text" placeholder="Correo"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button color="light" ion-button block type="submit" [disabled]="!myForm.valid">Ingresar</button>
    </div>
  </form>
</ion-content>