page-create-account {
    .form-login {
        background-color: map-get($colors,primary);
    }
    .form-content {
        background-color: map-get($colors,primary);
        vertical-align: middle;
    }
}
